<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792628639524-5747jtel5t8sh1iqo2are09shu048fce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792628639524-5747jtel5t8sh1iqo2are09shu048fce</string>
	<key>API_KEY</key>
	<string>AIzaSyAO58hr1f84U00KXPeTxZnYihLG4KunkDY</string>
	<key>GCM_SENDER_ID</key>
	<string>792628639524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.rain.awatch.awatch</string>
	<key>PROJECT_ID</key>
	<string>awatch-b9183</string>
	<key>STORAGE_BUCKET</key>
	<string>awatch-b9183.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792628639524:ios:0def24eeeafedcf7f4a5b1</string>
</dict>
</plist>